@tailwind base;
@tailwind components;
@tailwind utilities;

.geist {
  font-family: 'Geist', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

[data-fillable]:-webkit-autofill,
[data-fillable]:-webkit-autofill:hover,
[data-fillable]:-webkit-autofill:focus,
[data-fillable]:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px black inset !important;
  -webkit-text-fill-color: white !important;
  /* Selector or Selection color */
  &::selection {
    -webkit-text-fill-color: white !important;
    background: black !important;
  }
}

.grid-background {
  background-image: radial-gradient(
    rgba(128, 128, 128, 0.103) 1px,
    transparent 1px
  );
  background-size: 5px 5px;
}

.item-exit-active {
  opacity: 0;
  transition: opacity 700ms ease-out;
}

[role='region'] {
  position: relative;
  z-index: 99999999;
}
