@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
 
  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

.content-grid {
  background-color: transparent;
  background-image: linear-gradient(
      0deg,
      transparent 9%,
      rgba(104, 162, 255, 0.2) 10%,
      rgba(104, 162, 255, 0.2) 12%,
      transparent 13%,
      transparent 29%,
      rgba(104, 162, 255, 0.1) 30%,
      rgba(104, 162, 255, 0.1) 31%,
      transparent 32%,
      transparent 49%,
      rgba(104, 162, 255, 0.1) 50%,
      rgba(104, 162, 255, 0.1) 51%,
      transparent 52%,
      transparent 69%,
      rgba(104, 162, 255, 0.1) 70%,
      rgba(104, 162, 255, 0.1) 71%,
      transparent 72%,
      transparent 89%,
      rgba(104, 162, 255, 0.1) 90%,
      rgba(104, 162, 255, 0.1) 91%,
      transparent 92%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 9%,
      rgba(104, 162, 255, 0.2) 10%,
      rgba(104, 162, 255, 0.2) 12%,
      transparent 13%,
      transparent 29%,
      rgba(104, 162, 255, 0.1) 30%,
      rgba(104, 162, 255, 0.1) 31%,
      transparent 32%,
      transparent 49%,
      rgba(104, 162, 255, 0.1) 50%,
      rgba(104, 162, 255, 0.1) 51%,
      transparent 52%,
      transparent 69%,
      rgba(104, 162, 255, 0.1) 70%,
      rgba(104, 162, 255, 0.1) 71%,
      transparent 72%,
      transparent 89%,
      rgba(104, 162, 255, 0.1) 90%,
      rgba(104, 162, 255, 0.1) 91%,
      transparent 92%,
      transparent
    );

  background-size: 50px 50px;
}

.geist {
  font-family: 'Geist', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color-scheme: light dark;
}

.grid-background {
  background-image: radial-gradient(
    rgba(128, 128, 128, 0.103) 1px,
    transparent 1px
  );
  background-size: 5px 5px;
}

.item-exit-active {
  opacity: 0;
  transition: opacity 700ms ease-out;
}

[role='region'] {
  position: relative;
  z-index: 99999999;
}

.checkmark {
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #4bb71b;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #4bb71b;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
  position: relative;
  top: 5px;
  right: 5px;
  margin: 0 auto;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #4bb71b;
  fill: currentColor;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }

  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #4bb71b;
  }
}

/* Basic editor styles */

.ProseMirror {
  height: 100% !important;
}

.tiptap-renderer {
  :first-child {
    margin-top: 0;
  }
  :last-child {
    margin-bottom: 0;
  }

  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }
  ol {
    list-style-type: decimal !important;
  }
  ul {
    list-style-type: disc !important;
  }

  /* Heading styles */
  h1,
  h2,
  h3 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }
}

.tiptap {
  p.is-editor-empty:first-child::before {
    color: #9c978f;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }

  :first-child {
    margin-top: 0;
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }
  ol {
    list-style-type: decimal !important;
  }
  ul {
    list-style-type: disc !important;
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  /* Code and preformatted text styles */
  code {
    background-color: var(--purple-light);
    border-radius: 0.4rem;
    color: var(--black);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  pre {
    background: var(--black);
    border-radius: 0.5rem;
    color: var(--white);
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  blockquote {
    border-left: 3px solid var(--gray-3);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid var(--gray-2);
    margin: 2rem 0;
  }
}

/* // markdown */

.prose h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid rgb(194, 194, 194);
}

.prose h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid rgb(194, 194, 194);
}

/* Fullcalendar styles */
.fc {
  display: flex;
  overflow: auto;
  flex-direction: column;
  flex: 1;

  .fc-event-main {
    overflow: hidden !important;
  }

  .fc-daygrid-body {
    flex: 1;
    height: 100%;
    table {
      height: 100% !important;
    }
  }

  .fc-scrollgrid {
    @apply !border-0;
  }

  .fc-col-header {
    thead {
      tr {
        th {
          @apply font-normal p-2;
        }
      }
    }
  }
  table {
    thead {
      @apply border-b border-neutral-500/20;
      tr {
        @apply divide-x divide-neutral-500/20;
      }
    }
    tbody {
      @apply divide-y divide-neutral-500/20;
      tr {
        @apply divide-x divide-neutral-500/20;
      }
    }
  }
}
.fc-theme-standard td,
.fc-theme-standard th {
  @apply border-0;
}

.fc-timegrid-divider {
  @apply border-0 !p-0 !bg-yellow-500;
}

.fc-timegrid-slot {
  @apply !py-1;
}

.fc-col-header-cell-cushion {
  @apply !p-0 font-normal opacity-70 capitalize;
}

.fc-daygrid-day.fc-day-today,
.fc-timegrid-col.fc-day-today {
  @apply !bg-transparent;
}

.fc-timegrid-now-indicator-arrow {
  @apply !border-0 rounded-full w-1.5 aspect-square bg-pink-400;
}
.fc-timegrid-now-indicator-line {
  @apply !border-pink-300 !border-b-2;
}
.fc-list-empty {
  @apply !bg-transparent;
}

.fc-theme-standard .fc-list {
  @apply border-0;
}

.fc-timegrid-event-harness-inset .fc-timegrid-event {
  @apply shadow-md shadow-black/20 rounded-xl p-1 dark:!border-2 dark:border-[#21201d] border-[#f2f2f2] cursor-pointer hover:scale-105 transition-transform;
}

.fc-highlight {
  @apply rounded-lg border-blue-500 !bg-blue-500/10 z-10;
}

.fc-daygrid-day-number {
  @apply !text-sm opacity-70;
}



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 12%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 12, 70%, 59%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
